@model artf_MVC.Models.Empresa

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Deseas eliminar este registro?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rsempre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rsempre)
        </dd>
    </dl>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dirempre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dirempre)
        </dd>
    </dl>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipoempre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipoempre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idempre" />
        <input type="submit" value="Elminar" class="btn btn-primary" /> 
        <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
    </form>
</div>

