@model IEnumerable<artf_MVC.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registro nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rsempre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dirempre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipoempre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rsempre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dirempre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipoempre)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Idempre">Editar</a>
                    <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Idempre">Detalles</a>
                    <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Idempre">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

