@model artf_MVC.Models.Modrf

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Detalles de la modificación</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numacuofmod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numacuofmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acumod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acumod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fechamod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fechamod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desmod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Obsmod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Obsmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fichatecmod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fichatecmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clavemod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clavemod)
        </dd>
    </dl>
    <dl class="row">        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdrectmodNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdrectmodNavigation.Idrect)
        </dd>
    </dl>
    @* <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdusermodNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdusermodNavigation.Iduser)
        </dd>
    </dl> *@
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
