@model artf_MVC.Models.Solrf

@{
    ViewData["Title"] = "Delete";
}
<div class='container' style=' text-align: justify;'>
    <h3>¿Deseas eliminar este registro?</h3>
    <div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numacuofsol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numacuofsol)
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Obssol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obssol)
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecapsol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecapsol)
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Docsol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docsol)
            </dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdempsolNavigation.Rsempre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdempsolNavigation.Rsempre)
            </dd>
        </dl>

       @*  <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdusersolNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdusersolNavigation.Iduser)
            </dd>
        </dl>     *@
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idsol" />
            <input type="submit" value="Eliminar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
    </form>
</div>
</div>

