@model IEnumerable<artf_MVC.Models.Solrf>

@{
    ViewData["Title"] = "Index";
}
<div class='container' style=' text-align: justify;'>
<h1>Solicitud</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registro nuevo</a>
</p>
<div style="height: 500px; overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Idsol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Numacuofsol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Obssol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecapsol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Docsol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdempsolNavigation.Rsempre)
                    </th>
                    @*  <th>
                    @Html.DisplayNameFor(model => model.IdusersolNavigation.Nomuser)
                    </th> *@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(Model => item.Idsol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numacuofsol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Obssol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecapsol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Docsol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdempsolNavigation.Rsempre)
                        </td>
                        @*             <td>
                    @Html.DisplayFor(modelItem => item.IdusersolNavigation.Nomuser)
                    </td> *@
                        <td>
                            <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Idsol">Editar</a>
                            <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Idsol">Detalles</a>
                            <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Idsol">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>

