@model artf_MVC.Models.Canrf

@{
    ViewData["Title"] = "Delete";
}
<div class='container' style=' text-align: justify;'>
<h3>¿Deseas eliminar este registro?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Numacuofcan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Numacuofcan)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fechaofcan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fechaofcan)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Juscan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Juscan)
            </dd>
        </dl>
        <dl class="row">            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Obscan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Obscan)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fichacan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fichacan)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Clavecan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Clavecan)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fechacan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fechacan)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdmodcanNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdmodcanNavigation.Idmod)
            </dd>
        </dl>
       @*  <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdusercanNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdusercanNavigation.Iduser)
            </dd>
        </dl> *@
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idcan" />
        <input type="submit" value="Eliminar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
    </form>
</div>
