@model IEnumerable<artf_MVC.Models.Modelo>

@{
    ViewData["Title"] = "Index";
}

<h1>Modelos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registro nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modequi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modequi)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-default btn-sm" asp-route-id="@item.Idmod">Editar</a>
                <a asp-action="Details" class="btn btn-danger btn-sm" asp-route-id="@item.Idmod">Detalles</a>
                <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.Idmod">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
