@model artf_MVC.Models.Equiuni

@{
    ViewData["Title"] = "Delete";
}
<div class='container' style=' text-align: justify;'>
<h3>¿Deseas eliminar este registro?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modaequi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modaequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipequi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Combuequi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Combuequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Pequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Pequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nserie)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nserie)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Regiequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Regiequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Graequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Graequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Usoequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Usoequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fcons)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fcons)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nofact)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nofact)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tcontra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tcontra)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fcontra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fcontra)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vcontra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vcontra)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Mrent)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Mrent)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Monrent)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Monrent)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Obsarre)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Obsarre)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Obsgra)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Obsgra)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Obsequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Obsequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fichaequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fichaequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fecharequi)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fecharequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdcanequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdcanequiNavigation.Idcan)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdempreequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdempreequiNavigation.Rsempre)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdfabequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdfabequiNavigation.Rsfab)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdinsequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdinsequiNavigation.Idins)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdmodeequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdmodeequiNavigation.Modequi)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdmodequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdmodequiNavigation.Idmod)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdrectequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdrectequiNavigation.Idrect)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdsolequiNavigation)
        </dt>
        <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdsolequiNavigation.Idsol)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Idequi" />
            <input type="submit" value="Eliminar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
        </form>
</div>
</div>
