@model artf_MVC.Models.Equiuni

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equiuni</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modaequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modaequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combuequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combuequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nserie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nserie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regiequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regiequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usoequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usoequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fcons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fcons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nofact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nofact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tcontra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tcontra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fcontra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fcontra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vcontra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vcontra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsarre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsarre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsgra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsgra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fichaequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fichaequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecharequi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecharequi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcanequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcanequiNavigation.Idcan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdempreequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdempreequiNavigation.Idempre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfabequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfabequiNavigation.Idfab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdinsequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdinsequiNavigation.Idins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmodeequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmodeequiNavigation.Idmod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmodequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmodequiNavigation.Idmod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdrectequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdrectequiNavigation.Idrect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsolequiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsolequiNavigation.Idsol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idequi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
